{% extends 'basic.html' %}
{% block title %}About us{% endblock %}
{% block css %}
#about{color:black;}
{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <img src="\static\app\images\shop.png" width="250px">
      <h1 class="display-3">Trend Shopping!</h1>
      <p><b>Trend Shopping</b> is an Indian e-commerce company based in Bengaluru, India. It was founded by krishnkant sharma and his team in 2007.
          The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home
          essentials & groceries, and lifestyle products.</p>
      <p><a class="btn btn-primary btn-lg" href="/about/history" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Funding</h2>
        <p>Initially, KK spent ₹400,000 (US$5,600) on developing the site.[73] Trend Shopping later raised funding from venture capital funds Accel
            India (US$1 million in 2009)[74][75] and Tiger Global (US$10 million in 2010 and US$20 million in June 2011).[76][77][78] On 24 August
            2012, Trend shopping announced the completion of its 4th round of US$150 million funding from MIH (part of Naspers Group) and ICONIQ
            Capital. The company announced, on 10 July 2013, that it has raised an additional US$200 million from existing investors including Tiger
            Global, Naspers, Accel Partners and Iconiq Capital.[79] </p>
      </div>
      <div class="col-md-4">
        <h2>Awards and recognition</h2>
        <p>KK was awarded Entrepreneur of the Year 2012–2013 from The Economic Times, a leading Indian economic daily newspaper.[127]
In September 2015, the two founders entered Forbes India Rich List debuting at the 86th position with a net worth of $1.3 billion each.[128]
In April 2016, KK and his team were named to Time magazine's list of The 100 Most Influential People</p>
      </div>
      <div class="col-md-4">
        <h2>Business structure</h2>
        <p>According to a report in November 2014, Trend shopping was operating through a complex business structure which included nine firms, some
            registered in Singapore and some in India. In 2012, Shoping Cart co-founders sold WS Retail to a consortium of investors led by Rajeev
            Kuchhal.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

{% endblock %}