{% extends 'basic.html' %}
{% block title %}
{{prod.product_name}}-shoping cart
{% endblock %}
{% block css%}
.carousel-control-prev-icon,
.carousel-control-next-icon{background-color:blue;}
.carousel-control-prev,
.carousel-control-next{width:2%;}
#sm-next{  width:100%;}
#view{
margin-left:100px;}
@media screen and (max-width:414px){
#view{
text-align:center;
justify-content:center;
width:100%;
margin-left:0%;
}

h3,.price,h4{
text-align:center;}
#comment{width:80%;}
#button{
width:10%;}
#reply{
width:25%;}
#reply_button{
width:5%;}


}


{% endblock %}
{% block body %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> {{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
<br>
<div class="container-flex">
    <div class="row" style="margin-left:0px;margin-right:0px">
        <div class="col-md-4">
            <div class="row">
                <img  src="/static/{{prod.image}}" id='checkoutimage' width=100% height=100%><br>
                <div class="row" id="view">
                   <a href="/add-to-cart/{{prod.slug}}" class="btn btn-primary my-5">Add to Cart</a>
                    <a href="/remove-from-cart/{{prod.slug}}" class="btn btn-primary mx-3 my-5">remove from cart</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 id="name">{{prod.product_name}}</h3>
            {% if prod.discount_price %}
            <span class="price"> <del><b style="color:tomato">INR :</b><span style="color:red">{{prod.price}}</span></del></span><br>
            <h5 class="price"><b style="color:tomato">INR :</b><span style="color:red"><b>{{prod.discount_price}}</b></span>
                <span class="badge badge-pill badge-primary">Discount</span></h5><br>
            {% else %}
            <h5 class="price"><b style="color:tomato">INR :</b><span style="color:red">{{prod.price}}</span></h5>
            {% endif %}

            <p><b>description : </b><br>{{prod.desc}}</p>
        </div>
<!-- photos-->
<div class="col-md-4">

<div id="carouselExampleControls" class="carousel carousel-fade"  data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/{{prod.image1}}" class="d-block w-100px" width=100% alt="no more photos" style="height:500px;width=500px">
    </div>
    <div class="carousel-item">
      <img src="/static/{{prod.image2}}" class="d-block w-50" width=100% alt="no more photos" style="height:500px;width=500px">
    </div>
    <div class="carousel-item">
      <img src="/static/{{prod.image3}}" class="d-block w-50 h" width=100% alt="no more photos" style="height:500px;width=500px">
    </div>
       <div class="carousel-item">
      <img src="/static/{{prod.image4}}" class="d-block w-50 h" width=100% alt="no more photos" style="height:500px;width=500px">
    </div>
  </div>

  <a class="carousel-control-next" id="sm-next" href="#carouselExampleControls" role="button" data-slide="next">

  </a>
</div>
</div>
    </div></div>

<hr class="divider">
<!-- similar-->
{% for products,range,nslides in allprod %}
<div class="container">
<h4 style="color:royalblue">Similar Products: </h4><br>
    <!--Carousel Wrapper-->
    <div id="demo{{forloop.counter}}" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#demo{{forloop.counter}}"  data-slide-to="0" class="active"></li>
            {% for i in  range %}
            <li data-target="#demo{{forloop.counter}}"  data-slide-to="{{i}}"></li>
            {% endfor %}
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                {% for i in products|dictsort:"product_name" %}
                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top"
                             src='/static/{{i.image}}' alt="Card image cap" height="200px">
                        <div class="card-body">
                            <h4 class="card-title">{{i.product_name|truncatechars:25}}</h4>
                            <p class="card-text">{{i.desc|truncatechars:30}}</p>
                            <div class="row">
                                <a href="/add-to-cart/{{i.slug}}" class="btn btn-primary btn-small" style="height:40px">Add to Cart</a>
                                <a href="/checkout/{{i.slug}}" id="pv{{i.id}}" class="btn btn-primary mt-2 ml-5">View</a>
                            </div>


                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div><div class="carousel-item">
            {% endif %}
            {% endfor %}

        </div>
            <!--/.Carousel Wrapper-->
        </div></div></div>
{% endfor %}
<hr>
<div class="container">
    <h2>Comments  ({{ln}})</h2><br>
    <form action="/comments/{{prod.slug}}/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="comment" class="h5">Post comment</label>
                <div class="container">
                    <div class="row">
            <input type="text" class="form-control col-md-10" id="comment" name="comment" placeholder="write your comment">
        <button type="submit" class="btn " id="button"><img src="\static\app\images\submit.png" height="40px" width="40px"></button>
                </div>
            </div>
        </div>
    </form><br>
    {% for a in com %}
    <div class="media">
    <img  src="\static\app\images\photo.png"  id="img" class=" mr-2 rounded" alt="..." width="50px" height="50px">
    <div class="media-body">

            <h5 class="mt-0">{{a.user}}</h5> <small class="text-muted">{{a.time}}</small><br>
             {{a.comment}}<br>
        <div class="container">

            <div class="row">
                {% if request.user in a.dislikes.all %}
                <div class="mr-5"><img src="\static\app\images\like.png" width="20px" height="20px">
                    <span style="color:black">{{a.total}}</span></div>
                {% else %}
                {% if request.user in a.likes.all %}
                <a href="/like/{{a.sno}}/" class="mr-5"> <img src="\static\app\images\plike.jpg" width="20px" height="20px">
                    <span style="color:black">{{a.total}}</span></a>
                {% else %}
                <a href="/like/{{a.sno}}/" class="mr-5"> <img src="\static\app\images\like.png" width="20px" height="20px">
                    <span style="color:black">{{a.total}}</span></a>
                {% endif %}
                {% endif %}
                {% if request.user in a.likes.all %}
                <div class="mr-5"><img src="\static\app\images\dislike.png" width="20px" height="20px">
                    <span style="color:black">{{a.total_dislike}}</span></div>
                {% else %}
                {% if request.user in a.dislikes.all %}
                <a href="/dislike/{{a.sno}}/" class="mr-5"><img src="\static\app\images\pdislike.png" width="20px" height="20px">
                    <span style="color:black">{{a.total_dislike}}</span></a>
                {% else %}
                <a href="/dislike/{{a.sno}}/" class="mr-5"><img src="\static\app\images\dislike.png" width="20px" height="20px">
                    <span style="color:black">{{a.total_dislike}}</span></a>
                {% endif %}
                {% endif %}

                <a class="text-dark" data-toggle="collapse" href="#collapseExample{{a.sno}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    reply {{a.all_reply.all|length}}
                </a>
                <div class="collapse flex-container" id="collapseExample{{a.sno}}" style="width:1000px">
                    <form action="/reply/{{a.sno}}/" method="post" class="mt-2">{% csrf_token %}
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <input type="text" class="form-control col-md-10" id="reply" name="reply" placeholder="write your reply">
                                    <button type="submit" class="btn " id="reply_button"><img src="\static\app\images\submit.png" height="30px" width="30px"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% for r in a.all_reply.all %}
                    <div class="card-body" >
                        <div class="media">
                            <img src="\static\app\images\photo.png" class=" mr-2 rounded" alt="..." width="40px" height="40px">
                            <div class="media-body">
                                <h6 class="mt-0">{{r.user}}</h6>
                                <small class="text-muted">{{r.reply_time}}</small><br>
                                {{r.comment_reply}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>


            </div></div>

    </div>
</div><br><br>
{% endfor %}
</div>



    {% endblock %}