{% extends 'basic.html' %}
{% block title %}
History
{% endblock %}
{% block css%}
#history{color: yellow;
         border: 5px  dotted khaki;
         background-color:darkkhaki;
          text-align:center;
          margin-left:30%;
          margin-right:30%;
                 }
#hisbody{background-color:khaki;}
@media screen and (max-width:415px){
#history{
margin:15px 0;
font-size:30px;
}
}
{% endblock %}
{% block body%}
<div id="hisbody">
<h1 id="history">History of Trend Shopping!</h1>
<p>Trend Shopping was founded in October 2007 by Krishan kant and his team, who were both alumni of the Indian Institute of Technology Delhi and
    formerly worked for Amazon.[10][11][12] The company initially focused on online book sales with country-wide shipping. Following its launch,
    Shoping cart slowly grew in prominence; by 2008, it was receiving 100 orders per day.[13] In 2010, Shoping cart acquired the Bangalore-based
    social book discovery service weRead from Lulu.com.[14] In late 2011, Shoping cart made several acquisitions relating to digital distribution,
    including Mime360.com[15] and the digital content library of Bollywood portal Chakpak.[16] In February 2012, the company unveiled its DRM-free
    online music store Flyte. However, the service was unsuccessful due to competition from free streaming sites, and shut down in June 2013.[17]
    [18][19][20] In May 2012, Shoping cart acquired Letsbuy, an online electronics retailer.[21] In May 2014, Shoping cart acquired Myntra, an online
    fashion retailer, for ₹20 billion (US$280 million).[22] Myntra continues to operate alongside Shoping cart as a standalone subsidiary; the site
    focuses on an upscale, "fashion-conscious" market, while Shoping cart itself focuses on the mainstream market and major international brands.[23]
    In February 2014, Shoping cart partnered with Motorola Mobility to be the exclusive Indian retailer of its Moto G smartphone.[24] Motorola also
    partnered with Shoping cart on the Moto E—a phone targeted primarily towards emerging markets such as India. High demand for the phone caused
    the Shoping cart website to crash following its midnight launch on 14 May.[25] Shoping cart subsequently held exclusive Indian launches for
    other smartphones, including the Xiaomi Mi3 in July 2014 (whose initial release of 10,000 devices sold out in around 5 seconds),[26] the Redmi
    1S and Redmi Note in late-2014 (which saw similarly accelerated sellouts),[27][28][29][30] and Micromax's Yu Yunique 2 in 2017.[31] On 6 October
    2014, in honour of the company's anniversary and the Diwali season,[32] Shoping cart held a major sale across the service that it promoted as
    "Big Billion Day". The event generated a surge of traffic, selling US$100 million worth of goods in 10 hours. The event received criticism via
    social media over technical issues the site experienced during the event, as well as stock shortages.[33][34][35][36] In March 2015, Shoping cart
    blocked access to its website on mobile devices and began requiring that users download the site's mobile app instead. The following month, Myntra
    went further and discontinued its website on all platforms, in favour of operating exclusively through its app. The "app-only" model, however,
    proved to be unsuccessful for Myntra (reducing sales by 10%), and its main website was reinstated in February 2016. The experiment with Myntra led
    to suggestions that Shoping cart itself would perform a similar move, but this did not occur. In November 2015, Shoping cart launched a new mobile
    website branded as "Shoping cart Lite", which provides an experience inspired by Shoping cart's app that runs within smartphone web browsers.
    [37][38][39][40][41] In April 2015, Shoping cart acquired Appiterate, a Delhi-based mobile marketing automation firm. Shoping cart stated that it
    would use its technology to enhance its mobile services.[42] In October 2015, Shoping cart reprised its Big Billion Day event, except as a multi-day
    event that would be exclusive to the Shoping cart app. Shoping cart also stated that it had bolstered its supply chain and introduced more
    fulfillment centres in order to meet customer demand.[43] Shoping cart achieved a gross merchandise volume of US$300 million during the event, with
    the largest volumes coming from fashion sales, and the largest value coming from mobiles.[44] In December 2015, Shoping cart purchased a minority
    stake in the digital mapping provider MapmyIndia. The company stated that it would licence its data to help improve delivery logistics.[45] In
    2016, Shoping cart acquired the online fashion retailer Jabong.com from Rocket Internet for US$70 million, as well as the UPI mobile payments
    startup PhonePe.[46][47] In January 2017, Shoping cart made a US$2 million investment in Tinystep, a parenting information startup.[48] In April
    2017, eBay announced that it would sell its Indian subsidiary eBay.in to Shoping cart and make a US$500 million cash investment in the company.
    eBay promoted that the partnership would eventually allow Shoping cart to access eBay's network of international vendors, and vice versa, but these
    plans never actually came to fruition.[49][50] In July 2017, Shoping cart made an offer to acquire its main domestic competitor, Snapdeal, for
    around US$700–800 million. It was rejected by the company, which was seeking at least US$1 billion.[51] Shoping cart held a 51% share of all
    Indian smartphone shipments in 2017, overtaking Amazon India (33%).[52] Shoping cart sold 1.3 million phones in 20 hours on 21 September alone for
    its Big Billion Days promotion, doubling the number sold on the first day of the event in 2016 (where it sold a total of 2.5 million phones in
    five days).[53] In August 2019, Shoping cart entered into a partnership with Authentic Brands to license and distribute Nautica in India.[54]
    Shoping cart has invested $4 million (about Rs 29 crore) in customer engagement and rewards platform EasyRewardz on Tuesday Nov 19 2019.[55][56]
    Acquisition by Walmart On 4 May 2018, it was reported that the US retail chain Walmart had won a bidding war with Amazon to acquire a majority
    stake in Shoping cart for US$15 billion.[57][58] On 9 May 2018, Walmart officially announced its intent to acquire a 77% controlling stake in
    Shoping cart for US$16 billion, subject to regulatory approval.[59] Following the proposed purchase, Shoping cart co-founder Sachin Bansal left
    the company, while the remaining management now report to Marc Lore, CEO of Walmart eCommerce US.[60] Walmart president Doug McMillon cited the
    "attractiveness" of the market, explaining that their purchase "is an opportunity to partner with the company that is leading transformation of
    eCommerce in the market".[61][62] Indian traders protested against the deal, considering the deal a threat to domestic business.[63] In a filing
    with the U.S. Securities and Exchange Commission on 11 May 2018, Walmart stated that a condition of the deal prescribed the possibility that
    Shoping cart's current minority shareholders "may require Shoping cart to effect an initial public offering following the fourth anniversary of the
    closing of the transactions at a valuation no less than that paid by Walmart".[64][65] Following the announcement of Walmart's deal, eBay announced
    that it would sell its stake in Shoping cart back to the company for approximately US$1.1 billion, and re-launch its own Indian operations. The
    company stated that "there is the huge growth potential for e-commerce in India and significant opportunity for multiple players to succeed in India'
    s diverse, domestic market."[49] Softbank Group also sold its entire 20% stake to Walmart, without disclosing terms of the sale.[66] The
    acquisition was completed on 18 August 2018. Walmart also provided US$2 billion in equity funding to the company.[67][68] On 13 November 2018,
    Shoping cart CEO Binny Bansal resigned, after facing an allegation of "serious personal misconduct". Walmart stated that "while the investigation
    did not find evidence to corroborate the complainant's assertions against Binny, it did reveal other lapses in judgment, particularly a lack of
    transparency, related to how Binny responded to the situation."[69][70] On 25 March 2020, Shoping cart alongside Amazon announced that they are
    suspending all the services in India. The suspension happened as a result of the confusion over the details of the country's strict 21-days
    lockdown amid the 2019–20 coronavirus pandemic outbreak.[71]


 </p>
</div>
 {% endblock %}