<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Order Success!</title>
</head>
<body>

<div class="p-3 mb-2 bg-secondary text-white">
    <span style="font-size:25px"><b>order id: {{random}}</b></span>

    <div class="row">
        <h1 style="margin-left:35%;font-size:80px"><b>Shopping Cart!</b></h1>
     <h2 style="margin-left:85%">Ordered by : {{time}}</h2>
</div></div>
<div>
    <div class="p-3 mb-2 bg-success text-white text-center" style="height:400px;">
        <h1 style="font-size:100px"><b>ORDER SUCCESSFUL!</b></h1>
        <span style="color:black;font-size:25px">IMPORTANT: This order can be seen in your order history of your account.</span><br>
        <span style="font-size:45px">you will receive an email when your order is dispatched</span><br>
        <span style="font-size:45px"><b>HAVE A QUESTION?</b></span><br>
        <span style="font-size:30px; margin-left:140px"><a href="/contact/">CLICK HERE</a> FOR CONTACT US AND HELP!<a style="margin-left:30px" href="/" class="btn btn-light">GO TO HOME</a></span>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>