<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password reset sent</title>
</head>
<body style="background-color:lightcyan">
<h2 style="text-align:center;font-size:45px"><b>Password reset done!</b></h2>
<div style="height:50%;width:50%;margin-left:25%;font-size:30px;border:1px solid black;text-align:center ">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
    <br><a href="/register/" style="margin-left:90%">login</a>
</div>



</body>
</html>