{% extends 'basic.html' %}
{% block title %} Shoping cart - your search results {% endblock %}
{% block css %}
.carousel-control-prev-icon,
.carousel-control-next-icon{background-color:blue;}
.carousel-control-prev,
.carousel-control-next{width:2%;}
#search-res{color:darkgrey;
text-align:center;
border:1px solid grey;
margin-left:35%;
margin-right:35%;
background-color:powderblue;}
#noresult{
color:red;
margin-left:27%;
font-size:40px;}
@media screen and (max-width:415px){
#noresult{
margin:0%;
text-align:center;}
@media screen and (max-width:415px){
#search-res{
color:grey;
text-align:center;
font-size:15px;
margin-top:5px;
border:1px solid grey;
background-color:lightblue;
}
}

{% endblock %}

{% block body %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% load static %}
<br>
<h5  style="color:blue;"><b>{{l}}-</b><i>result{{l|pluralize}} found for</i>"<span style="color:red">{{query}}</span>"</h5>
<hr>
{% if l != 0 %}
{% for products,range,nslides in allprod %}
<div class="container">
    <h4  id="search-res"  >Flash sale on : <span style="color:black">{{products.0.category}}</span></h4>

    <!--Carousel Wrapper-->
    <div id="demo{{forloop.counter}}" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#demo{{forloop.counter}}"  data-slide-to="0" class="active"></li>
            {% for i in  range %}
            <li data-target="#demo{{forloop.counter}}"  data-slide-to="{{i}}"></li>
            {% endfor %}
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                {% for i in products|dictsort:"product_name" %}
                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top"
                             src='/static/{{i.image}}' alt="Card image cap" height="200px">
                        <div class="card-body">
                            <h4 class="card-title">{{i.product_name|truncatechars:25}}</h4>
                            <p class="card-text">{{i.desc|truncatechars:30}}
                                {% if i.new == True %}
                                <span class="badge badge-pill badge-primary">new</span>
                                {% endif %}
                            </p>
                            <div class="row">
                                <a href="/add-to-cart/{{i.slug}}" class="btn btn-primary btn-small" style="height:40px">Add to Cart</a>
                                <a href="/checkout/{{i.slug}}" id="pv{{i.id}}" class="btn btn-primary mt-2 ml-5">View</a>
                            </div>


                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div><div class="carousel-item">
            {% endif %}
            {% endfor %}

        </div>
            <!--/.Carousel Wrapper-->
        </div></div></div>
{% endfor %}
{% else %}
<div class="d-flex justify-content-center">
    <img src="/static/app/images/oops.jpg" width="35%" height="35%">
</div>
<h3  id="noresult">Such result not found. Try again!</h3>
{% endif %}
 {% endblock %}
